//**
// NAVIGATION
// Author: 			Colin McFadden
// Origin Date: 	20150106
//
//**

//** Main Nav bar

// LOGO

.logo {
	position: relative;
	left: 10em;
	top: 3em;
}

// Inherited styles
nav {
	width: 100%;
	font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

// hide the submenu
nav ul ul {
	 opacity: 0; /* Hide sub level */
    -webkit-transition: opacity .7s ease-in-out;
    -moz-transition: opacity .7s ease-in-out;
    -o-transition: opacity .7s ease-in-out;
    z-index: -100;
    padding: 0;
	position: absolute;
	top: 100%;
	width: auto;
	border-radius: 0;
	background: $green;
}
	// display submenu on hover
	nav ul li:hover > ul {
		opacity: .9;
		z-index: 100;
	}

// visible bar
nav ul {
	background: $green;
	color: white;
	width: auto;
	float: right;
	padding: 0 2em;
	list-style: none;
	position: relative;
	top: 1.5em;
	display: inline-table;
	border-radius: 8px;
	//opacity: .9;
}
	nav ul:after {
		content: ""; 
		clear: both; 
		display: block;
	}

nav ul li {
	float: left;
	-webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
}
	nav ul li:hover {
		background: #597e43;
		color: white;
		opacity: 1;
	}
	nav ul li a:hover {
		color: white;
		opacity: 1;
	}
	nav ul li a {
		display: block; 
		padding: 1em 1.8em;
		color: white; 
		text-decoration: none;
	} 


	nav ul ul li {
		float: none;
		position: relative;
	}
		nav ul ul li a {
			padding: 1em 2em;
			color: white; 
		}