//**
// Other Useful Reusable Styles
//**

* {
  @include box-sizing(border-box !important);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.clear {
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}

.list-unstyled {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.valign {
  vertical-align: middle;
}

hr {
  border: 0;
  border-bottom: 1px solid #ddd;
  margin: $padding 0;
}

.subtle {
  color: $subtle-color;
}

.relative {
  position: relative;
}

iframe {
  width: 50em;
  height: 400px;
  padding: 1px;
}

/* All sponsor images need this property */

.sponsorimg {
  width: 180px;
  margin: .5em 1em;
}

.bg-white {
  background: $white; 
}

/* Hexagons 
* move to seperate style cheat when perfected 
**************************************************/

.hex-container {
  float: left;
  position: absolute;
  top: 30em;
  left: -5em;
  z-index: -1; 
  padding:0; 

     /* pixels to percentage formula = pixel/parent(16)*100 */
}
.hex {
    float: left;
    margin-left: 0.188em; // 3px
    margin-bottom: -1.625em; // -26px
}
.hex .top {
    width: 0;
    border-bottom: 1.875em solid #6C6; //30px
    border-left: 3.250em solid transparent; //52px
    border-right: 3.250em solid transparent; //52px
}
.hex .middle {
    width: 100%; // 104px
    height: 3.750em; //
    background: #6C6;
}
.hex .bottom {
    width: 0;
    border-top: 1.875em solid #6C6; //30 px
    border-left: 3.250em solid transparent; //52 px
    border-right: 3.250em solid transparent; //52px
}
.hex-row {
    clear: left;
}
.hex-row.even {
    margin-left: 3.313em; //53px
}

/* SPONSORS HOVER EFFECTS */

.sponsors img:hover{
-webkit-transition: all 1s ease;
-webkit-filter:  grayscale(1);
}
.sponsors img{
-webkit-transition: all 1s ease;
}