//======================
// Color Themes
//======================

//======================
// Type constants
//======================

$line-height: 1.5em;
$default-font-size: 100%;

//======================
// Spacing attributes
//======================

$padding: 1em;