//**
// Main Layout Styles
//**

html {
	margin:0;
	padding: 0;
}

body {
	margin:0;
	padding:0;
}

.center {
	margin: 0 auto;
}

.center-text {
	text-align: center;
}

header {
	width: 100%;
	height: 32em;
	overflow: hidden;
}
 .bg { 
 	width: 100%;
 	height: 32em;
 	position: fixed;
 	left: -0.2em;
 	background: url("../img/nano-group.jpg") no-repeat;
 	background-size: cover;
 	z-index: -999;
 	top: 0;
 }

 main {
 	display: block;
 	width: 100%;
 	background: white; 
 	z-index: 0;
 }

.intro { 
	margin: 0 auto;
	margin-top: -4em;
	background: white;
	padding: 3em;
	z-index: 3;
}

article {
	width: 32%;
	padding: 2em;
	float: left;
	background: white;
}
.news {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

.video {
	width: 100%;
	margin:0;
	padding:1em;;
	overflow: hidden;
	background: #66cc66;
}

.sponsors {
	padding: 2em;
	background: $white;
	width: 80%;
	margin: 0 auto;
}

// Responsive styles if needed
// @include responsive($big-break) {
// }
// @include responsive($small-break) {
// }

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }
