//**
// Main Layout Styles
//**

html {
	margin:0;
	padding: 0;
}

body {
	margin:0;
	padding:0;
}

.col {
	width: 100%;
	margin: 0;
	padding:0;
}

header {
	width: 100%;
}
 .bg {
 	height: 40em;
 	width: 100%;
 	position: fixed;
 	left: -0.2em;
 	background: url("../img/bioenergy-hero.jpg") no-repeat;
 	background-size: 100%;
 	top: 0;
 }

 main {
 	display: block;
 	width: 100%;
 	height: 1000px; //testing purposes
 	position: relative;
 	top: 35em;
 	z-index: 5;
 	background: $main-bg-color;
 }

.intro { 
	float: left;
	width: 60%;
	margin-top: -10em;
	background: white;
	padding: 3em;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	z-index: 1;
}
 aside {
 	float: right;
 	width: 40%; 
 	margin: 0;
 	padding: 0;
 }

.video {
	width: 100%;
	margin:0;
	padding:0;
	background: $green;
}

.sponsors {
	padding: 2em;
	background: $white;
	width: 80%;
	margin: 0 auto;
}
// Responsive styles if needed
// @include responsive($big-break) {
// }
// @include responsive($small-break) {
// }

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }
