//**
// Main Layout Styles
//**

html {
	margin:0;
	padding: 0;
}

body {
	margin:0;
	padding:0;
	overflow-x: hidden;
	background: #EDF9EC;
}


.center {
	margin: 0 auto;
}

.clear {
	clear: both;
}

.center-text {
	text-align: center;
}

header {
	width: 100%;
	height: 32em;
	overflow: hidden;
}
 .bg { 
 	width: 100%;
 	height: 32em;
 	position: fixed;
 	left: -0.2em;
 	background: url("../img/nano-group.jpg") no-repeat;
 	background-size: cover;
 	z-index: -999;
 	top: 0;
 }

 main {
 	display: block;
 	width: 100%;
 	background: $green; 
 	z-index: 0;
 }

.intro {  
	margin: 0 auto;
	width: 60%;
	margin-top: -4em;
	background: white;
	padding: 3em;
	z-index: 0;
	float: left;
}

.side {
	width: 40%;
	padding: 1em;
	float: left;
}

article {
	width: 32%;
	padding: 2em;
	float: left;
}
.news {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	background: #fafbfc;
}

.video {
	width: 100%;
	margin:0;
	padding:1em;;
	overflow: hidden;
	background: $green;
	z-index: -2;
	-webkit-box-shadow: inset 0px 167px 13px -170px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 167px 13px -170px rgba(0,0,0,0.75);
	box-shadow: inset 0px 167px 13px -170px rgba(0,0,0,0.75);
}

.sponsors {
	padding: 2em;
	background: $white;
	width: 80%;
	margin: 0 auto;
}

footer {
	background: #394046;
	color: $white;
	overflow: hidden;
	width: 100%;
}
.footer-container {
	display: block;
	width: 100%;
}
.foot-content {
	width: 70%;
	margin: 0 auto;
	padding: 1em;
	display: block;
}
section {
	float: left;
	padding: 0;
	margin-left: 1.5em;
}


// Responsive styles
// @include responsive($big-break) {
 //}

 @include responsive($cube-break) {
 	.side, .intro {
 		width: 100%;
 	}
 	.cube {
 		width: 47%;
 	}
 }
 @include responsive($small-break) {
 	
 	.intro, .side, .news, .video, .sponsors {
 		width: 100%;
 	}

 	article {
 		width: 100%;
 		border-bottom: 1px solid gray;
 		border-size: 50%;
 	}
 }

  @include responsive(1375px) {
 	.foot-content {
 		width: 100%;
 	}
 	
 }


// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }
